<div class="ui dividing header">
    <div class="content">{{ namespace }}</div>
    <i class="close icon"></i>
</div>

<div class="ui segment">
    <div class="ui top attached label">Legend</div>
    <div class="ui teal label">Constant</div>
    <div class="ui blue label">Parameter</div>
    <div class="ui orange label">Exception</div>
    <div class="ui red label">Return</div>
</div>

{% if constants|length > 0 %}
<div class="ui segment">
    <div class="ui top attached label">Constants</div>
    <div class="constants">
        {% for key, value in constants %}
        <div class="constant">
            <div class="ui teal image label">
                {{ key }}<span class="detail">{{ value }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if methods|length > 0 %}
<div class="ui methods segment">
    <div class="ui top attached label">Methods</div>
        <div class="ui relaxed divided four items">
            {% for method in methods %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ method.name }}</div>
                    <div class="description">{{ method.doc.desc }}</div>
                    <div class="extra">
                        {% if method.param_info.total > 0 %}
                        {% for param in method.doc.params %}
                            <div class="ui blue label">{{ param|trim(', ')|trim(',') }}</div>
                        {% endfor %}
                        {% endif %}
                        {% if(method.doc.throw) %}
                        <div class="ui orange label">{{ method.doc.throw }}</div>
                        {% endif %}
                        <div class="ui red label">{{ method.doc.return }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}