<h1>{{ namespace }}</h1>

{% if constants|length > 0 %}
<h3>Constants</h3>
    {% for key, value in constants %}
    <div class="constant">{{ key }} - {{ value }}</div>
    {% endfor %}
{% endif %}

{% if methods|length > 0 %}
    <h3>Methods</h3>
    {% for method in methods %}
    <div class="method">
        <div class="name">public function {{ method.name }}()</div>
        <div class="doc">{{ method.doc }}</div>
        {% set total = method.param_info.total %}
        {% if total > 0 %}
        <div class="param-total">
            {{ total }} param
            {% if total > 1 %}s{% endif %}
            {% for param in method.param_info.params %}
            <div class="params">
                <div class="param">
                    $ {{ param.name }}
                    {% if param.is_array %} (array) {% endif %}
                    {% if param.is_callable %} (callable) {% endif %}
                    {% if param.is_optional %} (optional) {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}

