<div class="ui dividing header">
    <div class="content">{{ namespace }}</div>
    <i class="close icon"></i>
</div>

{% if constants|length > 0 %}
    <div class="ui segment">
        <div class="ui top attached label">Constants</div>
        <div class="constants">
            {% for key, value in constants %}
                <div class="constant">
                    <div class="ui teal image label">
                        {{ key }}<span class="detail">{{ value }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if methods|length > 0 %}
<div class="ui segment">
    <div class="ui top attached label">Methods</div>
        <div class="ui relaxed divided four items">
        {% for method in methods %}
        {% set total = method.param_info.total %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ method.name }}</div>
                    <div class="description">{{ method.doc.desc }}</div>
                    <div class="extra">
                        {% if total > 0 %}
                            {% for param in method.doc.params %}
                                <div class="ui blue label">{{ param|trim(', ')|trim(',') }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="ui red label">{{ method.doc.return }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<br>