<div class="ui stackable grid groups">
    <div class="four column row">
        {% for group, files in contracts %}
        <div class="column group expand">
            <div class="inside">
                <h1 class="{{ group|lower }}">
                    <span class="title search">{{ group }}</span>
                    <span class="count">{{ files|length }} interface{% if files|length > 1 %}s{% endif %}</span>
                </h1>
                <div class="files">
                    {% for class in files %}
                    {% set name = class|trim('.php') %}
                    <div class="file search">
                        <a href="#/{{ group|lower }}/{{ name|lower }}" data-class="{{ group|lower }}-{{ name|lower }}">{{ name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>